extends layout 
block content
  .row.banner
    .col-12
      h1=pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      .error=message
      each recipe in recipes
        .card
          .card-block
            h4
              a(href=`/recipe/${recipe._id}`)= recipe.name
              img(src=recipe.imagePath style='max-width:50%').float-right.img-thumbnail.img-fluid
            p.time Prep time: #{recipe.prepTime} <br> Cook time: #{recipe.cookTime}
            .tags
              each tag in recipe.tags
                span.badge.badge-warning= tag
    .col-12.col-md-4
      p.lead Saved recipes
        ul
          each recipe in savedRecipes
            li
              a(href='/recipe')=recipe
