extends layout 
block content
  .row.banner
    .col-12
      h1=pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      each recipe in recipes
        .card
          .card-block
            h4
              a(href="/recipe")= recipe.name
              img(src='https://assets3.thrillist.com/v1/image/2797371/size/tmg-article_default_mobile.jpg' style='max-width:50%').float-right.img-thumbnail.img-fluid
            p.time Prep time: #{recipe.prepTime} <br> Cook time: #{recipe.cookTime}
            .tags
              each tag in recipe.tags
                span.badge.badge-warning= tag
    .col-12.col-md-4
      p.lead Saved recipes
        ul
          li
            a(href='/recipe') Beef Burger
          li
            a(href='/recipe') Chicken Curry
