extends layout
block content
  .row.banner
    .col-12
      h1=recipe.name
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.prep Prep time: #{recipe.prepTime} <br>Cooking time: #{recipe.cookTime}
          .card.card-primary
            .card-block
              h2.card-title Ingredients
              ul  
                each ingredient in recipe.ingredients  
                  li=ingredient              
        .col-12.col-md-6
          .card.card-primary
            .card-block
              img.img-fluid.rounded(src=recipe.imagePath)
              p(style='text-align:center')
                each tag in recipe.tags
                  span.badge.badge-warning=tag
      .row
        .col-12
          .card.card-primary.method
            .card-block
              a.btn.btn-primary.float-right(href='#') Save Recipe
              h2.card-title Method
              p 
                ol
                  each instruction in recipe.instructions
                    li=instruction